{% extends 'base.html' %}

{% block title %}Załóż konto{% endblock %}

{% block body %}

<main class="tlo1 h-100">
		<div class="container-fluid no-gutters pt-5 " >
			<div class="row justify-content-center" >
				<div class="col-lg-5 col-sm-8  p-4  text-white  h4 shadow-lg rounded" style="background-color: #4F788D">
					<p class="text-center">Załóż konto</p>
					<p><span class="h6 text-center">Udało się! Twoje konto jest teraz aktywne. Możesz teraz się <a href="/home">zalogować</a>.</span></p>
				</div>
			</div>
		</div>
</main>

{% endblock %}
