
.icon-wallet:before { content: '\e800'; } /* '' */
.icon-credit-card:before { content: '\e801'; } /* '' */
.icon-params:before { content: '\e802'; } /* '' */
.icon-login:before { content: '\e803'; } /* '' */
.icon-logout:before { content: '\e804'; } /* '' */
.icon-user:before { content: '\e805'; } /* '' */
.icon-mail:before { content: '\e806'; } /* '' */
.icon-key:before { content: '\e807'; } /* '' */
.icon-trash-empty:before { content: '\e808'; } /* '' */
.icon-list-bullet:before { content: '\f0ca'; } /* '' */
.icon-money:before { content: '\f0d6'; } /* '' */
.icon-calendar-empty:before { content: '\f133'; } /* '' */