{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block body %}

<main class="d-block tlo1 h-100" >
  <div class="container-fluid no-gutters pt-2  " >

    <div class="row justify-content-center mt-2 mb-2" >

      <div class="col-9 pt-1  pb-1 text-white  shadow-lg rounded mb-5" style="background-color: #4F788D">
        <form method="post" action="add-expense">

          <div class="text-center h4 pb-3">Dodaj wydatek</div>

          <div class="col-sm-12 col-lg-5 p-2 float-left">
            <div class="h5 border-bottom rounded">Wydatek	</div>
            <div class="col-md-10">
                <div class="form-group">
                  <div class="col">
                    <label for="amount">Podaj kwotę: </label>
                  </div>
                  <div class="col-md-7 col-lg-12">
                    <input type="number" name="amount"  id="amount" step=0.01 class="form-control" placeholder="kwota" required>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col">
                    <label for="date"> Data: </label>
                  </div>
                  <div class="col-md-7 col-lg-12">
                    <input type="date" name="date" id="date"  class="form-control"  required>
                  </div>
                </div>
            </div>
            <div class="h5 border-bottom rounded">Sposób płatności</div>
            <div class=" col-md-6 pt-1">
              <div class="form-check">
                <div >
                  <input type="radio" name="method" class="form-check-input" value="Gotówka" required> Gotówka
                </div>
              </div>
              <div class="form-check">
                <div>
                  <input type="radio" name="method" class="form-check-input" value="Karta debetowa" required> Karta debetowa
                </div>
              </div>
              <div class="form-check">
                <div>
                  <input type="radio" name="method" class="form-check-input" value="Karta kredytowa" required> Karta kredytowa
                </div>
              </div>
            </div>
          </div>
          <div class=" col-md-12 col-lg-6  p-2 float-left">
            <div class="h5 border-bottom rounded">Kategoria</div>
            <div class="col-lg-5 float-left">
              <div class="form-check">
                  <input type="radio" name="category" value="Jedzenie" class="form-check-input" required> Jedzenie
              </div>
              <div class="form-check">
                <div>
                  <input type="radio" name="category" value="Mieszkanie" class="form-check-input" required> Mieszkanie
                </div>
              </div>
              <div class="form-check">
                <div>
                  <input type="radio" name="category" value="Transport" class="form-check-input" required> Transport
                </div>
              </div>
              <div class="form-check">
                <div>
                  <input type="radio" name="category" value="Telekomunikacja" class="form-check-input" required> Telekomunikacja
                </div>
              </div>
              <div class="form-check">
                <div>
                  <input type="radio" name="category" value="Zdrowie" class="form-check-input" required> Opieka zdrowotna
                </div>
              </div>
              <div class="form-check">
                <div>
                  <input type="radio" name="category" value="Higiena" class="form-check-input" required> Higiena
                </div>
              </div>
              <div class="form-check">
                <div>
                  <input type="radio" name="category" value="Dzieci" class="form-check-input" required> Dzieci
                </div>
              </div>
              <div class="form-check">
                <div>
                  <input type="radio" name="category" value="Rozrywka" class="form-check-input" required> Rozrywka
                </div>
              </div>
              <div class="form-check">
                <div>
                  <input type="radio" name="category" value="Wycieczka" class="form-check-input" required> Wycieczka
                </div>
              </div>
            </div>
            <div class="col-lg-6 float-left" >
              <div class="form-check">
                <div>
                  <input type="radio" name="category" value="Ubranie" class="form-check-input" required> Odzież
                </div>
              </div>
              <div class="form-check">
                <div>
                  <input type="radio" name="category" value="Książki" class="form-check-input" required> Książki
                </div>
              </div>
              <div class="form-check">
                <div>
                  <input type="radio" name="category" value="Oszczędności" class="form-check-input" required> Oszczędności
                </div>
              </div>
              <div class="form-check">
                <div>
                  <input type="radio" name="category" value="Na złotą jesień, czyli emeryturę"class="form-check-input" required> Na złotą jesień, czyli emeryturę
                </div>
              </div>
              <div class="form-check">
                <div>
                  <input type="radio" name="category" value="Spłata długów" class="form-check-input" required> Spłata długów
                </div>
              </div>
              <div class="form-check">
                <div>
                  <input type="radio" name="category" value="Darowizna" class="form-check-input" required> Darowizna
                </div>
              </div>
              <div class="form-check">
                <div>
                  <input type="radio" name="category"  value="Inne wydatki" class="form-check-input" required> Inne wydatki
                  <div class="form-group">
                    <textarea name="comment" class="form-control" rows="1"></textarea>
                  </div>
                </div>
              </div>
            </div>
            <div class=" float-right mb-5">
              <button class="tlo2 btn btn-primary float-right ml-4 hoverable" type="submit" name="submit" value="cancel"  formnovalidate>Anuluj</button>
              <button class="tlo2 btn btn-primary float-right ml-4 hoverable" type="submit" name="submit">Dodaj</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

</main>

{% endblock %}
