{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block footer %}
  <script>
    $(document).ready(function(){

        $('input[name="amount"]').keyup(function(){
          showFutureBalance();
        });
        $("div.expenses").click(function(){
          showFutureBalance();
        });

        function showFutureBalance(){
          $('.userLimit').empty();

          var category = $('div.expenses').attr('name');
          var limit = $('div.expenses').attr('value');
          limit = parseInt(limit);

          var currentBalance = $('#'+category).attr('value');
          if(isNaN(currentBalance)){
            currentBalance = 0;
          }
          currentBalance = parseInt(currentBalance);

          var newBalance = currentBalance + limit;
          var difference = limit - currentBalance;
          var userAmount = $('input[name="amount"]').val();
          if(isNaN(userAmount) || userAmount==""){
            userAmount = 0;
          }
          userAmount = parseInt(userAmount);

          if(limit>0){
            var finalBalance =  userAmount + currentBalance;
            if(finalBalance > limit){

              $('#inputAlert').removeClass("d-none alert-success").addClass("d-block col-9 p-4 border alert alert-warning").fadeOut(0).fadeIn(200);

            }else{

              $('#inputAlert').removeClass("d-none alert-warning").addClass("d-block col-9 p-4 border alert alert-success").fadeOut(0).fadeIn(200);

            }
              $('.userLimit').append(
                                    '<div class="col-3 d-inline-block">Limit: <br>'+limit+"zł</div>");

              $('.userLimit').append(
                                    '<div class="col-3 d-inline-block">Dotychczas wydano: <br>'+currentBalance+"zł</div>");

              $('.userLimit').append(
                                    '<div class="col-3 d-inline-block">Różnica: <br>'+difference+"zł</div>");

              $('.userLimit').append(
                                    '<div class="col-3 d-inline-block">Wydatki + wpisana kwota: <br>'+finalBalance+"zł</div>");

          }else{
            $('#inputAlert').removeClass("d-block").addClass("d-none col-9 p-4 border alert alert-success");
          }

        }


    });

  </script>
{% endblock %}

{% block body %}

<main class="d-block tlo1 h-100" >
  <div class="container-fluid no-gutters pt-2  " >

    <div class="row justify-content-center mt-2 mb-2" >
      <div id="inputAlert" class="d-block">
        <div class="userLimit d-block"></div>
        <span id="Limit"></span>
      </div>
      <div class="col-9 pt-1 d-block pb-1 text-white  shadow-lg rounded mb-5" style="background-color: #4F788D">

        <form method="post" action="add-expense" id="formField">

          <div class="text-center h4 pb-3">Dodaj wydatek</div>

          <div class="col-sm-12 col-lg-4 p-2 float-left">
            <div class="h5 border-bottom rounded">Wydatek	</div>
            <div class="col-md-12">
                <div class="form-group">
                  <div class="col">
                    <label for="amount">Podaj kwotę: </label>
                  </div>
                  <div class="col-md-7 col-lg-12">
                    <input type="number" name="amount"  id="amount" step=0.01 class="form-control" placeholder="kwota" required>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col">
                    <label for="date"> Data: </label>
                  </div>
                  <div class="col-md-7 col-lg-12">
                    <input type="date" name="date" id="date"  class="form-control"  required>
                  </div>
                </div>
            </div>
            <div class="h5 border-bottom rounded">Sposób płatności</div>
            <div class=" col-md-12 pt-1">

              {% for method in methods %}

                <div class="form-check">
                  <input type="radio" name="method" class="form-check-input" value="{{method.name}}" required> {{ method.name }}
                </div>

              {% endfor %}

            </div>
          </div>
          <div class=" col-md-12 col-lg-8  p-2 float-left">
            <div class="h5 border-bottom rounded">Kategoria</div>

            <div class="col-lg-5 float-left">

              {% for expense in expenses %}

                {% if loop.index < 12 %}

                  <div class="form-check">
                    <div class="expenses" value="{{ expense.expenses_limit }}" name="{{ expense.name}}">


                      <input type="radio" name="category" value="{{expense.name}}" class="form-check-input" required> {{ expense.name}}
                      {% if expense.expenses_limit==true %}
                      <span class="text-info" value="{{expense.expenses_limit}}">  (Limit: {{ expense.expenses_limit }})<span>


                        {% for currentB in currentBalance %}

                          {% if expense.name == currentB.name %}
                            <div id="{{currentB.name}}" value="{{ currentB.sum }}"></div>

                            {% endif %}
                        {% endfor%}



                      {% endif %}
                    </div>
                  </div>
                {% endif%}

              {% endfor %}

            </div>
            <div class="col-lg-6 float-left" >

              {% for expense in expenses %}

                {% if loop.index > 11 %}

                  <div class="form-check">

                    <div class="expenses" value="{{ expense.expenses_limit }}" name="{{ expense.name}}">
                      <input type="radio" name="category" value="{{expense.name}}" class="form-check-input" required> {{ expense.name}}
                      {% if expense.expenses_limit==true %}
                      <span class="text-info limit"> (Limit: {{ expense.expenses_limit }})<span>
                      {% endif %}
                    </div>

                  </div>
                {% endif%}

              {% endfor %}
              <div class="form-check">

                  <div class="form-group">
                    <textarea name="comment" class="form-control" rows="1"></textarea>
                  </div>
              </div>
            </div>



          </div>
          <div class=" float-right mb-5">
            <a href="/" class="tlo2 btn btn-primary float-right ml-4 hoverable" type="submit" name="submit" value="cancel"  formnovalidate>Anuluj</a>
            <input class="tlo2 btn btn-primary float-right ml-4 hoverable" type="submit" name="submit" value="Dodaj" data-toggle="modal" data-target="#myModal">
          </div>
        </form>
      </div>
    </div>
  </div>

</main>

{% endblock %}
