{% extends 'base.html' %}

{% block title %}Reset hasła{% endblock %}

{% block body %}

    <main class="tlo1 h-100">
		<div class="container-fluid no-gutters pt-5 " >
			<div class="row justify-content-center" >
				<div class="col-lg-5 col-sm-8  p-4  text-white  h4 shadow-lg rounded" style="background-color: #4F788D">
					<p class="text-center">Reset hasła</p>

					<form class="h6 pt-2 " method="post" action="/password/request-reset">

						 <div class="form-group">
							<div class="col-5">
								<label for="inputEmail">adres Email</label>
							</div>
							<div class="col-12">
								<input type="email" id="inputEmail" name="email" placeholder="adres email" autofocus required class="form-control" />
							</div>
						</div>

						<button type="submit" class="tlo2 btn btn-primary float-right ml-5 hoverable">Wyślij hasło</button>
					</form>
				</div>
			</div>
		</div>
	</main>

{% endblock %}
