{% extends 'base.html' %}

{% block title %}Reset hasła{% endblock %}

{% block footer %}
    <script src="/js/hideShowPassword.min.js"></script>
    <script src="/js/app.js"></script>

    <script>
        $(document).ready(function() {

            /**
             * Validate the form
             */
            $('#formPassword').validate({
                rules: {
                    password: {
                        required: true,
                        minlength: 6,
                        validPassword: true
                    }
                }
            });


            /**
              * Show password toggle button
              */
            $('#inputPassword').hideShowPassword({
                show: false,
                innerToggle: 'focus'
            });
        });
    </script>

{% endblock %}

{% block body %}

    {% if user.errors is not empty %}
        <p>Errors:</p>
        <ul>
            {% for error in user.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
	
	
	<main class="tlo1 h-100">
		<div class="container-fluid no-gutters pt-5 " >
			<div class="row justify-content-center" >
				<div class="col-lg-5 col-sm-8  p-4  text-white  h4 shadow-lg rounded" style="background-color: #4F788D">
					<p class="text-center">Reset hasła</p>

					<form class="h6 pt-2" method="post" id="formPassword" action="/password/reset-password">

						<input type="hidden" name="token" value="{{ token }}" />

						<div class="form-group">
							<div class="col-5">
								<label for="inputPassword">Podaj nowe hasło</label>
							</div>
							<div class="col-12">
								<input type="password" id="inputPassword" name="password" placeholder="Hasło" required class="form-control" />
							</div>
						</div>

						<button type="submit" class="tlo2 btn btn-primary float-right ml-5 hoverable">Zresetuj hasło</button>
					</form>
				</div>
			</div>
		</div>
	</main>

    

{% endblock %}
