<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/bootstrap/bootstrap.css" />
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
	<div class="container">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item"><a class="nav-link" href="/">Home</a></li>
				</ul>
				<ul class="navbar-nav ml-auto">
					{% if current_user %}
						<li class="nav-item"><a class="nav-link" href="/profile/show">Profile</a></li>
						<li class="nav-item"><a class="nav-link" href="/logout">Log out</a></li>
					{% endif %}
						
				</ul>
			</div>
		</nav>

		{% for message in flash_messages %}
			<!-- <div class="alert"> -->
			<div class="alert alert-{{ message.type }}">
				{{ message.body }}
			</div>	
		{% endfor %}

		{% block body %}
		{% endblock %}

		<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
		<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js"></script>

		{% block footer %}
		{% endblock %}
	</div>
</body>
</html>
