<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <!-- Bootstrap CSS -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css" />
	<link rel="stylesheet" href="/css/fontello.css">

</head>



<body class="d-flex flex-column h-100">

	<header class="d-block">
		<div class="container-fluid no-gutters">
			<div class="row" >
				<div class="col text-white tlo3" >
						<p class="h1 text-center mt-4 mb-4"><a href="/" class="text-decoration-none text-white"> Your Personal Budget </a></p>
				</div>
			</div>

			<div class="row ">
				<div class="col" style="background-color: #2F4A57; height:10px;"></div>
			</div>

			<div class="row" >
				<div class="col" style="background-color: #4F788D; height:10px;"></div>
			</div>

			<div class="row">
				<div class="col" style="background-color: #7BA6B4; height:10px;"></div>
			</div>
		</div>
	</header>


    {% if current_user %}
      <nav class="navbar tlo2 navbar-dark navbar-expand-lg ">
        <div	class="  pb-1">
          <button class="navbar-toggler navbar-toggler-left " type="button" data-toggle="collapse" data-target="#navb">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
        <div class="mx-auto">
          <ul class="navbar-nav mx-auto collapse navbar-collapse" id="navb">
            <li class="nav-item px-3">
              <a class="nav-link" href="/Income/show">Dodaj przychód</a>
            </li>

            <li class="nav-item px-3 ">
              <a class="nav-link" href="/Expense/show">Dodaj wydatek</a>
            </li>

            <li class="nav-item px-3 ">
              <a class="nav-link" href="/Balance/show">Przeglądaj bilans</a>
            </li>

            <li class="nav-item px-3 ">
              <a class="nav-link" href="/Profile/show">Ustawienia</a>
            </li>

            <li class="nav-item px-3 ">
              <a class="nav-link" href="/logout">Wyloguj się</a>
            </li>
          </ul>
        </div>
      </nav>
    {% endif %}

		{% block body %}
		{% endblock %}
    <!-- Modal -->

    <!-- Bootstrap CSS -->





    {% for message in flash_messages %}

      <!-- The Modal -->
      <div class="modalUser" id="myModal">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title"></h4>
              <a href="" id="submit" class="close">&times;</a>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
              {{ message.body }}
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
              <a href="" id="submit" class="btn btn-primary success">Ok</a>
            </div>

          </div>
        </div>
      </div>

    {% endfor %}
    <!-- The Modal -->
  


    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

		{% block footer %}
		{% endblock %}
	</div>


</body>

</html>
