{% extends "base.html" %}

{% block title %}Profile{% endblock %}
{% block footer %}
    <script src="/js/hideShowPassword.min.js"></script>
    <script src="/js/app.js"></script>

    <script>
        $(document).ready(function() {

			var userId = '{{ user.id }}';

            /**
             * Validate the form
             */
            $('#formProfile').validate({
                rules: {
                    name: 'required',
                    email: {
                        required: true,
                        email: true,
                        remote: {
							url: '/account/validate-email',
							data: {
								ignore_id: function(){
									return userId;
								}
							}
						}
                    },
                    password: {
                        minlength: 6,
                        validPassword: true
                    }
                },
                messages: {
                    email: {
                        remote: 'email already taken'
                    }
                }
            });


            /**
              * Show password toggle button
              */
            $('#inputPassword').hideShowPassword({
                show: false,
                innerToggle: 'focus'
            });

            $('.edit').click(function(){

              var editID = $(this).attr("name");
              var subjectToChange = $(this).attr("id");


              $('.update').click(function(){


                if ($('input[type=checkbox]').prop('checked')){

                  $(this).load('/profile/update', {

                    editSubjectID: editID,
                    newLimit: $('#newLimit').val(),
                    subject: subjectToChange

                  });
                  window.location.href = '/';
                }else{
                  $(this).load('/profile/update', {

                    editSubjectID: editID,
                    newName: $('#name').val(),
                    subject: subjectToChange

                  });
                  window.location.href = '/';
                }
              });
            });



            $('.delete').click(function(){

              var deleteID = $(this).attr("name");
              var subjectToDelete = $(this).attr("id");
              

              $('.confirmDelete').click(function(){

                $(this).load('/profile/delete', {

                  deleteSubjectID: deleteID,
                  subject: subjectToDelete

                });
                window.location.href = '/';
              });
            });

            $('.add').click(function(){
              var category = $(this).attr("name");

              $('.confirmAdding').click(function(){

                $(this).load('/profile/update', {
                  newName: $('#addCategory').val(),
                  subject: category
                });
                window.location.href = '/';
              });
            });

        });
    </script>

{% endblock %}

{% block body %}

<!-- Modal Header for editing expense-->
<div class="modal fade" id="editExpense">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Edycja</h4>
        <a href="" id="submit" class="close">&times;</a>
      </div>
      <form class="">
        <!-- Modal body -->
        <div class="modal-body">

            Podaj nową nazwę <input id="name" type="text" value="" class="form-control "><br/>



            <p><input type="checkbox" name="limitCheckBox"> Ustaw miesięczny limit<br/>

            Podaj limit <input id="newLimit" type="number" value="" name="newLimit" class="form-control"></p>


        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <a href="/"id="submit" class="btn btn-primary success update" data-dismiss="modal" autofocus>Zapisz</a>
        </div>
      </form>

    </div>
  </div>
</div>

<!-- Modal Header for editing income-->
<div class="modal fade" id="editIncome">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Edycja</h4>
        <a href="" id="submit" class="close">&times;</a>
      </div>
      <form class="">
        <!-- Modal body -->
        <div class="modal-body">

            Podaj nową nazwę <input id="name" type="text" value="" class="form-control ">

        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <a href="/"id="submit" class="btn btn-primary success update" data-dismiss="modal" autofocus>Zapisz</a>
        </div>
      </form>

    </div>
  </div>
</div>

<!-- Modal Header for deleting-->
<div class="modal fade" id="delete">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Edycja</h4>
        <a href="" id="submit" class="close">&times;</a>
      </div>

        <!-- Modal body -->
        <div class="modal-body">

            Napewno usunąć?<br><br>
            Jeśli wcześniej były jakieś dane wprowadzone pod tą kategorią zostaną one przeniesone do kategorii "Inne".

        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button id="submit" class="btn btn-primary success confirmDelete" data-dismiss="modal">Tak</button>
          <button id="submit" class="btn btn-primary success" data-dismiss="modal">Nie</button>
        </div>


    </div>
  </div>
</div>

<!-- Modal Header for adding-->
<div class="modal fade" id="add">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Edycja</h4>
        <a href="" id="submit" class="close">&times;</a>
      </div>

        <!-- Modal body -->
        <div class="modal-body">

            Podaj nową nazwę
            <input type="text" id="addCategory" value="">



        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button id="submit" class="btn btn-primary success confirmAdding" data-dismiss="modal">Dodaj</button>
        </div>



    </div>
  </div>
</div>

<div class="container-fluid no-gutters pt-2  " >

  <div class="row justify-content-center mt-2 mb-2" >

    <div class="col-5" >

      <div class="accordion" id="changePassword">
        <div class="tlo2 rounded">
          <div class="card-header" id="headingOne">
            <h2 class="mb-0">
              <button type="button" class="btn btn-block text-white btn-link text-decoration-none"  data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Profil
              </button>
            </h2>
          </div>

          <div id="collapseOne" class="collapse tlo4" aria-labelledby="headingOne" data-parent="#changePassword">
            <div class="card-body">
              <form method="post" id="formProfile" action="/profile/update">

                  <div class="form-group">
                      <label for="inputName">Imię</label>
                      <input id="inputName" name="name" placeholder="Name" value="{{ user.name }}" required class="form-control" />
                  </div>
                  <div class="form-group">
                      <label for="inputEmail">Adres email</label>
                      <input id="inputEmail" name="email" placeholder="email address" value="{{ user.email }}" required type="email" class="form-control" />
                  </div>
                  <div class="form-group">
                      <label for="inputPassword">Hasło</label>
                      <input type="password" id="inputPassword" name="password" placeholder="hasło" aria-describedby="helpBlock" class="form-control" />
          			      <span id="helpBlock" class="form-text text-black-50">Zostaw puste pole jeśli nie zmieniasz hasła</span>
                  </div>

                  <button type="submit" name="updateProfile" value="1" class="btn btn-outline-dark">Zapisz</button>
          		    <a href="/profile/show" class="btn btn-outline-dark">Cofnij</a>

              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="accordion" id="incomeCategories">
        <div class="tlo2 rounded">
          <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
              <button class="btn btn-block text-white btn-link text-decoration-none"  data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                Kategorie przychodów
              </button>
            </h2>
          </div>

          <div id="collapseTwo" class="collapse tlo4" aria-labelledby="headingTwo" data-parent="#incomeCategories">
            <div class="card-body">

              {% for income in incomes %}
                <div class="card tlo4" id="income{{ income.id }}">
                  <div class="card-body float-right">
                    {{ income.name }}
                    <a data-toggle="modal" data-target="#editIncome" class="edit float-right pl-1 " id="editIncome" name="{{ income.id }}"><i class="demo-icon icon-params"></i></a>
                    <a data-toggle="modal" data-target="#delete" class="float-right delete" id="deleteIncome" name="{{ income.id }}"><i class="demo-icon icon-trash-empty"></i></a>
              		</div>
              </div>
              {% endfor %}
              <button type="button" data-toggle="modal" name="addIncomeCategory" data-target="#add" class="add tlo2 btn btn-primary mt-3">Dodaj nową kategorię</button>

            </div>
          </div>
        </div>
      </div>

      <div class="accordion" id="expenseCategories">
        <div class="tlo2 rounded">
          <div class="card-header" id="headingThree">
            <h2 class="mb-0">
              <button class="btn btn-block text-white btn-link text-decoration-none"  data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                Kategorie wydatków
              </button>
            </h2>
          </div>

          <div id="collapseThree" class="collapse tlo4" aria-labelledby="headingThree" data-parent="#expenseCategories">
            <div class="card-body">

              {% for expense in expenses %}
                <div class="card tlo4" id="expense{{ expense.id }}">
                  <div class="card-body float-right">
                    {{ expense.name }}
                    <a data-toggle="modal" data-target="#editExpense" class="edit float-right pl-1 " id="editExpense" name="{{ expense.id }}"><i class="demo-icon icon-params"></i></a>
                    <a data-toggle="modal" data-target="#delete" class="float-right delete" id="deleteExpense" name="{{ expense.id }}" ><i class="demo-icon icon-trash-empty"></i></a>
                      {% if expense.expenses_limit==true %}
                      <span class="text-info"> (Limit: {{ expense.expenses_limit }})<span>
                      {% endif %}
              		</div>
                </div>
              {% endfor %}
              <button type="button" data-toggle="modal" name="addExpenseCategory" data-target="#add" class="add tlo2 btn btn-primary mt-3">Dodaj nową kategorię</button>

            </div>
          </div>
        </div>
      </div>

      <div class="accordion" id="methodPayment">
        <div class="tlo2 rounded">
          <div class="card-header" id="headingFour">
            <h2 class="mb-0">
              <button class="btn btn-block text-white btn-link text-decoration-none"  data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                Sposoby płatności
              </button>
            </h2>
          </div>

          <div id="collapseFour" class="collapse tlo4" aria-labelledby="headingFour" data-parent="#methodPayment">
            <div class="card-body">

                {% for method in methods %}
                  <div class="card tlo4">
                    <div class="card-body float-right">
                      {{ method.name }}
                      <a data-toggle="modal" data-target="#edit" class="edit float-right pl-1 " id="editMethod" name="{{ method.id }}"><i class="demo-icon icon-params"></i></a>
                			<a data-toggle="modal" data-target="#delete" class="float-right delete" id="deleteMethod" name="{{ method.id }}"><i class="demo-icon icon-trash-empty"></i></a>
                		</div>
                  </div>
                {% endfor %}
                <button type="button" data-toggle="modal" name="addMethodPaymentCategory" data-target="#add" class="add tlo2 btn btn-primary mt-3">Dodaj nową kategorię</button>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>


</div>

{% endblock %}
