{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block body %}

<main class="d-block tlo1 h-100">
  <div class="container-fluid no-gutters pt-2  " >

    <div class="row justify-content-center mt-2 mb-2" >

      <div class="col-9 pt-1  pb-1 text-white  shadow-lg rounded mb-5" style="background-color: #4F788D">
        <form method="post" action="add-income">

          <div class="text-center h4 pb-3">Dodaj przychód</div>

          <div class="col-sm-12 col-lg-5 p-2 float-left">
            <div class="h5 border-bottom rounded">Przychód	</div>
            <div class="col-md-10">
                <div class="form-group">
                  <div class="col">
                    <label for="amount">Podaj kwotę: </label>
                  </div>
                  <div class="col-md-7 col-lg-12">
                    <input type="number" name="amount"  id="amount" step=0.01 class="form-control" placeholder="kwota" required>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col">
                    <label for="date"> Data: </label>
                  </div>
                  <div class="col-md-7 col-lg-12">
                    <input type="date" name="date" id="date"  class="form-control"  required>
                  </div>
                </div>
            </div>
          </div>
          <div class=" col-md-12 col-lg-6 p-2 float-left">
            <div class="h5 border-bottom rounded">Kategoria</div>
              <div class="col-lg-12 float-left" >
                <div class="form-check">
                  <div>
                    <input type="radio" name="category" value="Wynagrodzenie" class="form-check-input" required> Wynagrodzenie
                  </div>
                </div>
                <div class="form-check">
                  <div>
                    <input type="radio" name="category" value="Odsetki bankowe" class="form-check-input" required> Odsetki bankowe
                  </div>
                </div>
                <div class="form-check">
                  <div>
                    <input type="radio" name="category" value="Allegro" class="form-check-input" required> Sprzedaż na Allegro
                  </div>
                </div>
                <div class="form-check">
                  <input type="radio" name="category"  value="Inne" class="form-check-input" required> Inne przychody
                  <div class="form-group mt-2">
                    <textarea name="comment" class="form-control" rows="1"></textarea>
                  </div>
                </div>
              </div>
            </div>
            <div class=" float-right mb-3">
              <button class="tlo2 btn btn-primary float-right ml-4 hoverable" type="submit" name="submit" value="cancel" formnovalidate>Anuluj</button>

              <button class="tlo2 btn btn-primary float-right ml-4 hoverable" type="submit" name="submit"  id="myBtn">Dodaj</button>
            </div>
          </form>
        </div>

      </div>
    </div>


</main>

{% endblock %}
